# Go build artifacts
/scanner
/scanner.exe
*.test
*.out
coverage.out

# Local caches
/.cache/

# Editor / OS noise
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# package files
*.tgz

# local rule experiments
/rules/cutom/

# downloaded sample packages
/mal-package-downloader/dl/

*.pyc
__pycache__/


npm_mal_list.txt
pypi_mal_list.txt