# Go build artifacts
/scanner
/scanner.exe
*.test
*.out
coverage.out

# Local caches
/.cache/

# Editor / OS noise
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# package files
*.tgz

# local rule experiments
/rules/cutom/

# downloaded sample packages
/mal-package-downloader/dl/
/mal-package-downloader/npm_mal_list.txt
/pkg9-bulk-out/
/mal-package-downloader/pypi_mal_list.txt

*.pyc
__pycache__/
